.modalReply {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.line {
  height: 88px;
  border-left: 1px solid #888888;
}

.modalReply > form {
  display: flex;
  flex-direction: column;
  gap: 24px;
  align-items: flex-end;
}

.modalReply > form > textarea {
  color: #3e3e3f;
  height: 120px;
  width: 100%;

  resize: none;
  background: #bcbcbc;
  outline: none;
  border-radius: 8px;

  padding: 16px;
  font-size: 18px;
  font-family: "Prompt", sans-serif;
}

.replyParagraph {
  color: #171d1f;
  font-size: 16px;
  font-weight: 600;
  margin: 0;
}
