.modalComment {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.modalComment h1 {
  color: #81fe88;
  font-size: 32px;
  margin: 0;
}


.modalComment > form {
  display: flex;
  flex-direction: column;
  gap: 24px;
  align-items: flex-end;
}

.modalComment > form > textarea {
  color: #3e3e3f;
  height: 120px;
  width: 100%;

  resize: none;
  background: #bcbcbc;
  outline: none;
  border-radius: 8px;

  padding: 16px;
  font-size: 18px;
  font-family: "Prompt", sans-serif;
}
