.main {
  flex-grow: 1;

  display: flex;
  flex-direction: column;
  gap: 24px;

  justify-content: space-between;
}

.main > section {
  display: flex;
  gap: 24px;
  flex-flow: row wrap;
  justify-content: space-between;
}

.main > footer {
  display: flex;
  align-items: center;

  justify-content: space-around;
}

.main > footer > a {
  color: #bfffc3;
  font-weight: 600;
}
