.card {
  color: #bcbcbc;
  background: #171d1f;
  border-radius: 8px;
  max-width: 486px;
}

.cardHighlight {
  color: #bcbcbc;
  background: #171d1f;
  border-radius: 8px;
}

.link {
  cursor: pointer;
  text-decoration: none;
}

.header {
  padding: 24px;
  background: #888888;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
}

.cardHighlight .header {
  padding-inline: 16px;
}

.header figure {
  margin: 0;
  height: fit-content;
}

.header figure img {
  object-fit: cover;
  border-radius: 8px;
}

.section {
  padding-top: 16px;
  padding-inline: 16px;
}

.section * {
  margin: 0;
}

.footer {
  display: flex;
  justify-content: flex-end;

  padding-bottom: 16px;
  padding-inline: 16px;

  margin-top: 32px;
}
